@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Readex+Pro:wght@160..700&display=swap");

* {
  font-family: Readex Pro, Arial;
}

body {
  padding: 0;
  margin: 0;
  background-image: url(images/Download\ Background.jpg);
  height: 100vh;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  text-transform: uppercase;
  font-style: italic;
}

p {
  font-size: 15px;
}

.auth-modal {
  background-color: rgb(255, 255, 255);
  width: 400px;
  border-radius: 10px;
  padding: 40px;
  box-shadow: rgb(0, 0, 0, 0.05) 0px 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
}

.auth-modal form {
  display: flex;
  flex-direction: column;
}

.auth-modal input {
  padding: 5px;
  margin: 5px;
  border: 0.5px solid rgb(0, 0, 0);
  border-radius: 10px;
  font-size: 15px;
}

.auth-modal #submit {
  color: rgb(255, 255, 255);
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 15px;
  padding: 5px 15px;
  margin: 5px;
  border: transparent solid 3px;
  /* background: linear-gradient(45deg, #0061ff 0%, #60efff 100%); */
  background: linear-gradient(45deg, #8e2de2, #4a00e0);
}

.auth-modal #submit:hover {
  color: rgb(30, 40, 50);
  border: rgb(30, 40, 50) solid 3px;
  transition: 5ms;
}
.auth-modal .download-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.auth-modal .download-links img {
  max-width: 150px;
  height: auto;
  display: block;
  margin: 5px;
}

.close-icon {
  float: right;
}
